html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'ML-Bold';
    src: url('ML-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ML';
    src: url('ML.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

a:link, a:visited {
    color: #0000EE;
    text-align: center; 
    text-decoration: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'ML-Bold';
}

.insta {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(90deg);
    font-family: 'ML';
}

.twitter {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(-90deg);
    font-family: 'ML';
}

.gradient{
  background: linear-gradient(to right, #FFF 20%, #0000EE 40%, #0000EE 60%, #FFF 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.light {
	font-family: 'ML';
}

@media (max-width: 700px) {
	.insta {
		left: 85%;
	}
}